<div class="container">
    <div class="container-tree">
        <div class="header">
            <label for="file-upload" class="custom-file-upload">+ Add</label>
            <input type="file" id = "file-upload" (change)="uploadFiles($event)" 
                    multiple class="form-control" class = "input"  accept={{type}}>     
            <button pButton type="button" label="Delete" (click)="deleteFiles()"></button>           
        </div>
        
        <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (click)="selectFiles()"></p-tree>
    </div>
    <div class="browser">
        <div *ngIf = "docType">
            <p-editor [(ngModel)]="text" class="text" [style]="{'height':'100vh'}"></p-editor>
        </div>

        <div *ngIf = "imageType">
            <img [src]="imageUrl" class="image">
        </div>
        
        
        
        

    </div>
    

</div>


