<div class="container">
    <div class="container-tree">
        <div class="header">
            <label for="file-upload" class="custom-file-upload">+ Add</label>
            <input type="file" id = "file-upload" (change)="uploadFiles($event)" 
                    multiple class="form-control" class = "input" accept={{type}}>
            
        </div>
        
        <p-tree [value]="pictures" selectionMode="single" [(selection)]="selectedFile" (click)="selectFiles()"></p-tree>
    </div>
    <div class="browser">
        <div *ngIf = "docType">
            <pre class="text">{{text}}</pre>
        </div>

        <div *ngIf = "imageType">
            <img [src]="imageUrl" class="image">
        </div>
        
        
        
        

    </div>
    

</div>


