
.container {
    display: flex;
    flex-direction: row;
    
    .container-tree {
        height: 100vh;
        width: 20rem;
    
        display: flex;
        flex-direction: column;

        overflow: auto;
    
        .header{
            height: 40px;
    
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 5px;
                
            background-color: var(--primary-color-header);
            border: 1px solid rgb(175, 216, 218, 0.3);

            .buttons{
                display: flex;
                flex-direction: row;
                gap: 2px;
                
            }
    
            
            .custom-file-upload {
                height: 40px;
                width: 50px;
 
                cursor: pointer;              
              
            }
            
  
        }
        .input {
            display: none;
            
        }
       
    }
 
    .browser{
        width: 100vw;

        padding: 1% 10%;
 
        border-left: 1px solid rgb(90, 140, 233, 0.2);

        .image {
            width: 100%;
        }

        .text_area {
            width: 100%;
            padding: 15px 25px;

            background-color: white;
        }

        .text {
                                    
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: rgb(50, 65, 94, 0.9);
                                  
            white-space: pre-wrap;
           
        }
    }
}

