.container {
    display: flex;
    flex-direction: row;
    .container-tree {
        height: 100vh;
        width: 300px;
    
        display: flex;
        flex-direction: column;
    
        border: 1px solid rgb(175, 216, 218);
        
    
        overflow: auto;
    
        .header{
            height: 40px;
    
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 5px;
                
            background-color: rgb(175, 216, 218);
    
            
            .custom-file-upload {
                height: 40px;
                width: 80px;
    
                background-color: dodgerblue;
                border-radius: 3px;
                
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
    
                cursor: pointer;
    
                font-size: 16px;
                color: white;
    
                &:hover {
                    background-color: rgb(26, 127, 228);
                }
            }

            

            .input {
                display: none;
            }
    
        }
    }

    .browser{
        width: 80vw;

        padding: 1% 10%;

        

        background-color: rgb(209, 220, 241);
        border-left: 2px solid rgb(90, 140, 233, 0.2);

        .image {
            width: 100%;
        }

        .text_area {
            width: 100%;
            padding: 15px 25px;

            background-color: white;
        }

        .text {
                                    
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: rgb(50, 65, 94, 0.9);
                                  
            white-space: pre-wrap;
           
        }
    }
}
